{% extends "base.html" %}

{% block container %}
    {% comment %} 
      parameter passed are lanes, tasks, events, processes, gateways and flows
      which are lists of the corresponding elements
    {% endcomment %}


    <article>

      <h2>Process</h2>
      <ul>
        {% for process in processes %}
          <li>{{ process }}</li>
        {% endfor %}
      </ul>
      
    </article>

    <article>
    <h2>Statistics</h2>

      
      <p>Number of Lanes: {{ lanes|length }}</p>
    <p>Number of Tasks: {{ tasks|length }}</p>
    <p>Number of Events: {{ events|length }}</p>
    <p>Number of Processes: {{ processes|length }}</p>
    <p>Number of Gateways: {{ gateways|length }}</p>
    <p>Number of Flows: {{ flows|length }}</p></article>

   

    <article>
     
    <h2>Names</h2>
     
      <div style="display: flex;">
        <div style="flex: 1;">
          <table>
            <thead>
                <tr>
                    <th>Task</th>
                </tr>
            </thead>
            <tbody>
              {% comment %} print the keys in a dictionary named task_data {% endcomment %}
              {% for task in tasks %}
                <tr>
                  <td>{{ task }}</td>
                </tr>
              {% endfor %}
              
            </tbody>
        </table>
        </div>
        <div style="flex: 1;">
          <table>
            <thead>
                <tr>
                    <th>Events</th>
                </tr>
            </thead>
            <tbody>
              {% for event in events %}
                <tr>
                  <td>{{ event }}</td>
                </tr>
              {% endfor %}
            </tbody>
    
          </table>
        </div>
      </div>

      {% comment %} 
      do the same for gateways and lanes
       {% endcomment %}

      <div style="display: flex;">
        <div style="flex: 1;">
          <table>
            <thead>
                <tr>
                    <th>Gateways</th>
                </tr>
            </thead>
            <tbody>
              {% for gateway in gateways %}
                <tr>
                  <td>{{ gateway }}</td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        </div>
        <div style="flex: 1;">
          <table>
            <thead>
                <tr>
                    <th>Lanes</th>
                </tr>
            </thead>
            <tbody>
              {% for lane in lanes %}
                <tr>
                  <td>{{ lane }}</td>
                </tr>
              {% endfor %}
            </tbody>
    
          </table>
        </div>
      
    </article>

    {% comment %} display time for processes {% endcomment %}
    <article>
      <h2>Process Time</h2>
      <table>
        <thead>
            <tr>
                <th>Process</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
          {% for process, time in processes.items %}
            <tr>
              <td>{{ process }}</td>
              <td>{{ time }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td><b> Total Time<b> </td>
            {% comment %} print the total time {% endcomment %}
            <td><b> {{ sum_processes }}<b> </td>
          </tr>
        </tbody>

      </table>
    </article>


    {% comment %} display time for lanes {% endcomment %}
    <article>
      <h2>Lane Time</h2>
      <table>
        <thead>
            <tr>
                <th>Lane</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
          {% for lane, time in lanes.items %}
            <tr>
              <td>{{ lane }}</td>
              <td>{{ time }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td><b> Total Time<b> </td>
            {% comment %} print the total time {% endcomment %}
            <td><b> {{ sum_lanes }}<b> </td>
          </tr>
        </tbody>

      </table>
    </article>

    

    {% comment %} 
    make an article with h2 of Task Time and a table with the task name and the time it takes to complete it
    task and time is stored in a dict named task_data with total time at the end
     {% endcomment %}

     <article>
      <h2>Task Time</h2>
      <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
          {% for task, time in tasks.items %}
            <tr>
              <td>{{ task }}</td>
              <td>{{ time }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td><b> Total Time<b> </td>
            {% comment %} print the total time {% endcomment %}
            <td><b> {{ sum_tasks }}<b> </td>
          </tr>
        </tbody>

      </table>
    </article>


    <article>
      <h2>Event Time</h2>
      <table>
        <thead>
            <tr>
                <th>Event</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
          {% for event, time in events.items %}
            <tr>
              <td>{{ event }}</td>
              <td>{{ time }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td><b> Total Time<b> </td>
            {% comment %} print the total time {% endcomment %}
            <td><b> {{ sum_events }}<b> </td>
          </tr>
        </tbody>

      </table>
    </article>

    <article>

      <h2>Calculated Time</h2>
      <p> The <b>total time</b> is for all processes is <b>{{ total_time }}</b> </p>
      <p> The <b>cycle time</b> is for all processes is <b>{{ cycle_time }}</b> </p>
      </article>


    {% comment %} button that says go back which redirect to the root directory of the site {% endcomment %}

    <button onclick="window.location.href = '/';">Go Back</button>

{% endblock %}